.homeWrapper{
 margin-top: 4rem;
}

.msg{
 padding: .5rem;
 margin: 0rem 2rem .5rem .5rem;
 border-radius: 1rem;
 display: flex;
 /* clear: both; */
}

.avartor{
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: auto;
  align-items: center;
  flex: content;
}

.messageAction{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.messageBody{
  padding: .5rem 1rem;
  width: 85%;
  word-break: normal;

}

.messageText{
   word-wrap: break-word;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.messageMeta{
margin: 1rem .5rem 0 auto;
width: fit-content;
display: flex;
justify-content: space-between;
align-items: center;
}

.messageMeta div{
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
}

.messageMeta p{
color: #1d1d1d8e;
margin-left: 1rem;
}
/* -------------------------------------------------------------------------- */
.loadingState{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingState h1{
  color: purple;
}