.homeWrapper{
 margin-top: 4rem;
}

.msg, .authmsg{
 padding: .5rem;
 margin: 0rem 2rem .5rem .5rem;
 border-radius: 1rem;
 clear: both;
}

.messageSender{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageSender p{
 font-size: medium;
 font-weight: bolder;
 /* margin-top: auto; */
 margin: 0 0 0 .3rem;
}

.msgbody, .authmsgbody{
 margin-left: 3rem;
  border: .1px solid rgba(90, 90, 90, 0.097);
  padding: .5rem 1rem;
  border-radius: .5rem;
  background-color: rgba(196, 196, 196, 0.179);
  word-wrap: break-word;
}

.authmsgbody{
   background-color: rgba(128, 0, 128, 0.172);
}

.messageMeta{
margin: 1rem .5rem 0 auto;
width: fit-content;
color: #1d1d1d8e;
}

.loadingState{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingState h1{
  color: purple;
}